[Desktop Entry]
Type=Application
Name=FastsApp
GenericName=WhatsApp Client
Comment=A native WhatsApp client
Exec=fastsapp
Icon=fastsapp
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=whatsapp;chat;messaging;
StartupWMClass=fastsapp
